body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.first {
  height: 600px;
  background-color: #1f2937;
  margin: 0;
  padding: 0;
}

.first-section {
  padding: 0 10%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  font-family: "Roboto";
}

.container-big img {
  height: auto;
  max-width: 30vw;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  font-family: "Roboto";
  margin-bottom: 40px;
}

button {
  width: 120px;
  height: 35px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  border-color: #3882f6;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}
.container-big {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.layer2 .title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  font-family: "Roboto";
  margin-bottom: 40px;
}

span {
  font-size: 18px;
  color: #e5e7eb;
  font-family: "Roboto";
}

.img1 img {
  height: auto;
  max-width: 12vw;
}
.img1 {
  display: flex;
  border-width: 50px;
  border: #3882f6, solid;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.layer2 {
  height: 400px;
  background-color: #ffffff;
  padding: 0 15%;
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
}

.images {
  display: flex;
  gap: 40px;
}
.coin {
  display: flex;
  flex-direction: column;
  max-width: 12vw;
  gap: 8px;
}

.section3 {
  background-color: #e5e7eb;
  padding: 60px 25%;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.author {
  font-size: 36px;
  align-self: flex-end;

  font-weight: 400;
  color: #1f2937;
}

.layer3 {
  display: flex;
  padding: 50px 10%;
  justify-content: center;
}

.sign-up-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 8vw;
  border-radius: 12px;
  flex-grow: 1;
  gap: 15px;

  background-color: #3882f6;
}

.layer3-text {
  /* padding: 20px 100px; */
  align-items: center;
}
.sign-up-title {
  font-size: 24px;
  color: #f9faf8;
}

.sign-up-text {
  font-size: 16px;
  color: #f9faf8;
}

.sign-up-button {
  border: #e9e9e9 solid;
}
